{% extends 'flatpages/default.html' %}


{% block title %}
Posts
{% endblock title %}


{% block content %}
  <h1>Все новости</h1>
  <h6>Количество новостей: {{posts|length}}</h6>

   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
               <td>Категория</td>
           </tr>
          {% for post in posts %}
           <tr>
               <td>{{ post.zagolovok }}</td>
               <td>{{ post.vremia_sosdania_soobsh|date:'d M Y' }}</td>
               <td>{{ post.preview }}</td>
               <td>{{ post.type_soobsh }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}
